# Binários
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testes
*.test
*.out

# Dependências
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Variáveis de ambiente
.env
.env.local

# Build artifacts
dist/
build/

# Go debug binaries (Delve)
__debug_bin*
